{:aliases  {:dev {:extra-paths ["development/src"]

                  :extra-deps {threat-intelligence/feed {:local/root "components/feed"}
                               threat-intelligence/compromise-indicator {:local/root "components/compromise-indicator"}
                               threat-intelligence/log {:local/root "components/log"}
                               threat-intelligence/rest-api {:local/root "bases/rest-api"}

                               com.stuartsierra/component.repl {:mvn/version "1.0.0"}
                               org.clojure/clojure {:mvn/version "1.11.3"}}}

            :test {:extra-paths ["components/feed/test"
                                 "components/compromise-indicator/test"
                                 "components/log/test"
                                 "bases/rest-api/test"]}


            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polylith/clj-poly {:mvn/version "0.2.19"}
                                polylith-kaocha/test-runner
                                {:git/url "https://github.com/imrekoszo/polylith-kaocha"
                                 :git/tag "v0.8.4"
                                 :git/sha "f096de8"
                                 :deps/root "projects/test-runner"}}}

            :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                           org.clojure/tools.deps {:mvn/version "0.19.1421"}}
                    :paths [:build/resources]
                    :ns-default build}}}
