{:deps {es.threat-intelligence.compromise-indicator {:local/root "../../components/compromise-indicator"}
        es.threat-intelligence.feed {:local/root "../../components/feed"}
        es.threat-intelligence.log {:local/root "../../components/log"}
        es.threat-intelligence.rest-api. {:local/root "../../bases/rest-api"}
        org.clojure/clojure {:mvn/version "1.11.3"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}
           :uberjar {:main es.threat-intelligence.rest-api.core}}}
